$gray-10: #f6f6f6;
$gray-20: #e1e5e5;
$gray-30: #a7afaf;
$gray-40: #2e3133;

$white: #ffffff;

$ocre-10: #f5f1ed;
$ocre-20: #d39f32;
$ocre-30: #c6942b;

$blue-10: #5d8693;
$blue-20: #2e607f;

$red: #e50e42;
$green: #69dfa6;
